body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    background-color: aliceblue;
  }

  *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  .row{
    text-align: center;
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
  }
  
  .col-1{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: black;
    opacity: 80%;
    color: aliceblue;
    border-radius: 8%;
  }
  .search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 10px;
    backdrop-filter: blur(4px) saturate(180%);
  }
  .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 20px 20px;
    font-size: 13px;
    color: #cac7ff;
  }

  .search-bar textarea{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 20px 20px;
    font-size: 13px;
    color: #cac7ff;
  }
  .btn{
    border: solid #000;
    font-size: 15px;
    padding: 8px;
    border-radius: 10%;
    background: rgba(255, 255, 255, 0.2);
    color: aliceblue;
  }
  